.bitizen-footer {
    position: relative;
    height: 160px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(182, 208, 247);
}

.players-footer {
    display: inline-flex;
    margin: 30px 0 0 45px;
}

.players-footer img {
    width: 60px;
    height: 60px;
    float: left;
    margin-right: 15px;
}

.players-footer-text {
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 14px;
}

.players-footer-text h2 {
    font-weight: 700;
}

.players-footer-text a {
    padding: 5px 0 0 0;
    text-decoration: none;
}

.players-footer-text a:hover {
    font-weight: 500;
}

.developer-footer {
    display: inline-flex;
    margin: 30px 0 0 45px;
}

.developer-footer img {
    widht: 60px;
    height: 60px;
    float: left;
    margin-right: 15px;
}

.developer-footer-text {
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 14px;
}

.social-footer {
    display: flex;
    margin-top: 30px;
    padding-left: 20px;
    flex-direction: column;
}

.social-footer h2 {
    font-size: 16px;
    font-weight: 700;
    margin: 3px 0 15px;
}

.social-network {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.social-network img {
    width: 25px;
    height: 25px;
}

.exchanges-footer {
    margin: 30px 45px 0 0;
    padding-left: 20px;
}

.exchanges-footer h2 {
    font-size: 16px;
    font-weight: 700;
    margin: 3px 0 15px;
}

.exchanges-icons {
    display: flex;
    flex-direction: row;
}

.exchanges-icons img{
    width: 103px;
    height: 25px;
}

@media screen and (max-width:992px){
    .bitizen-footer{
        display: none;
    }
}